
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Boot Camp Groupie | Success!</title>
    <link type="text/css" href="~/style.css" rel="stylesheet" />
</head>

<body>
    <div class="reset_header">
        <img src="~/images/logo.png" />
    </div>
    <div class="reset_pw_bg">
        <img src="~/images/logo.png" class="success_check" />
        <h2>Success!</h2>
        <h3>Your password has been successfully changed.<br />You may now safely close this window.</h3>
    </div>

</body>

</html>

