<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="Dev" />
    <add key="ForgotPasswordTemplate" value="ForgotPassword.txt" />
    <add key="MailServer" value="" />
    <add key="MailSender" value="" />
    <add key="MailAuthUser" value="" />
    <add key="MailAuthPass" value="" />
    <add key="EnableSSL" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Dev" connectionString="server=localhost;port=3306;database=bootcamp;uid=root;password=root" providerName="MySql.Data.MySqlClient" />
    <add name="Staging" connectionString="server=localhost;port=3306;database=bootcamp;uid=root;password=root" providerName="MySql.Data.MySqlClient" />
    <add name="Production" connectionString="server=localhost;port=3306;database=bootcamp;uid=root;password=root" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>